.para1 {
    color: red;
    font-size: 20px;
}

.para2 {
    color: green;
    font-size: 22px;
}

.para3 {
    color: blue;
    font-size: 24px;
}

.para4 {
    color: rgb(153, 153, 39);
    font-size: 26px;
}

.para5 {
    color: purple;
    font-size: 28px;
}

.para6 {
    color: orange;
    font-size: 30px;
}

.btn{
    width: 100px;
    height: 30px;
    color: white;
    background-color: blue;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 7px;
    display: flex;

}